@import '../../../../styles/variables.scss';

.Container {
    justify-self: center;
    .Input {
        font-size: 25px;
        line-height: 28px;
        padding: 18px;
        border-radius: 10px;

        outline: none;
        border: 5px solid transparent;
        transition: all 0.3s ease-in-out;
    }

    .Input::placeholder {
        font-family: 'MiSans-Regular', sans-serif;
        font-weight: 400;
        color: $color-gray;
    }

    .Input:focus {
        border: 5px solid $color-azure;
    }
}

@media (max-width: 1399.98px) {
    .Container {
        .Input {
            font-size: 20px;
            line-height: 22px;
        }
    }
}

@media (max-width: 1199.98px) {
    .Container {

        .Input {
            padding: 10px;
            max-width: 230px;
        }
    }
}

@media (max-width: 991.98px) {
    .Container {
        .Input {
            max-width: 100%;
            font-size: 25px;
            padding: 13px;
        }
    }
}