@import '../../../../styles/variables.scss';

.Container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    gap: 10px;
    align-items: center;

    margin: 0 auto;
    width: 80%;
    max-height: 80px;
    padding: 15px;

    background-color: $bg-color-song;
    border-radius: 20px;
    box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.1);

    cursor: pointer;
    transition: all 0.3s ease-in-out;

    .Heart {
        width: 20px;
        height: 20px;

        justify-self: center;
        
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
            filter: invert(36%) sepia(29%) saturate(4134%) hue-rotate(338deg) brightness(101%) contrast(85%);
        }
    }
    .Wishlist {
        filter: invert(36%) sepia(29%) saturate(4134%) hue-rotate(338deg) brightness(101%) contrast(85%);        
        transition: all 0.3s ease-in-out;
        &:hover {
            transform: scale(1.1);
        }
    }
    
    .Image {
        img {
            border-radius: 100%;
            width: 50px;
            height: 50px;
        }
    }
    .BlockText {
        display: grid;
        justify-content: start;
        gap: 3px;
        .Title {
            color: $color-black;
            font-size: 13px;
            line-height: 15px;
        }
        .Author {
            color: $color-author;
            font-size: 10px;
            line-height: 12px;
        }
    }
}

.Container:hover {
    transform: scale(1.1);
}

.Active {
    transform: scale(1.1);
    background: #FAF9FE;
    box-shadow: 0px 4px 5px 3px rgba(134, 126, 126, 0.25);
    transition: all 0.3s ease-in-out;
}

.Active:hover {
    transform: scale(1.2);
}


@media (max-width: 1009.98px) {
    .Container {
        grid-template-columns: 60px 1fr 50px;
        .BlockText {
            .Author {
                font-size: 18px;
                line-height: 20px;
            }
            .Title {
                font-size: 20px;
                line-height: 22px;
            }
        }
    }
}


@media (max-width: 575.98px) {
    .Container {
        grid-template-columns: 40px 1fr 30px;
        .Image {
            img {
                width: 40px;
                height: 40px;
            }
        }  
        .BlockText {
            .Author {
                font-size: 12px;
                line-height: 14px;
            }
            .Title {
                font-size: 14px;
                line-height: 17px;
            }
        }
    }
}