@import '../../../../styles/variables.scss';

.Button {
    display: grid;
    grid-template-columns: 40px auto;
    justify-content: start;
    align-items: center;
    gap: 10px;

    font-size: 20px;
    line-height: 18px;

    transition: all 0.3s ease-in-out;

}
.Button:hover {
    transform: scale(1.1);
}
.Black {
    color: $color-black;
}

.Red {
    color: $color-red;
    img {
        filter: invert(36%) sepia(29%) saturate(4134%) hue-rotate(338deg) brightness(101%) contrast(85%);   
    }
}