@import '../../../../styles/variables.scss';

.Button {
    display: grid;
    align-items: center;
    justify-items: center;

    border-radius: 100%;
    transition: opacity 0.3s ease-in-out;
}
.Button:hover {
    opacity: 1;
}

.Small {
    width: 40px;
    height: 40px;
}
.Medium {
    width: 70px;
    height: 70px;
}

.White {
    opacity: 0.7;
    background-color: $bg-color-white;
}
.Orange {
    opacity: 0.9;
    background-color: $color-orange;
}

.Center {
    padding-left: 6px;
}
.Right {
    padding-left: 4px;
}
.Left {
    padding-right: 4px;
    img {
        transform: rotate(180deg);
    }
}