$bg: linear-gradient(118.73deg, #F4F4FD 2.47%, #DFDDF3 100%);  
$bg-color-white: #F0F0FA;
$bg-color-white-light: #EAE9F9;
$bg-color-song: #EDEBF6;
$color-gray: #B7B7C1;
$color-black: #000;
$color-azure: #57B9C6;
$color-orange: #EE7373;
$color-vinous: #C4487A;
$color-red: #EC4743;
$color-author: rgba(18, 18, 18, 0.31);

