@import '../../../../styles/variables.scss';

.Button {
    font-size: 25px;
    line-height: 30px;

    transition: all 0.3s ease-in-out;
}

.Button:hover {
    transform: scale(1.05);
}

.Blacl {
    color: $color-black;
}

.Azure {
    color: $color-azure;
}