@import '../../styles/variables.scss';

.Container {
    display: grid;
    grid-template-areas: 'title title title'
                         'file file input';
    grid-template-columns: repeat(3, 30%);
    align-items: center;
    justify-content: space-between;
    
    .BlockText {
        justify-self: center;
        grid-area: title;

        .Title {
            margin-bottom: 15px;
            font-size: 50px;
            line-height: 55px;
            
            color: $color-black;
        }
        .Descr {
            text-align: center;
            font-family: 'MiSans-Regular';
            font-weight: 600;
            font-size: 25px;
            line-height: 28px;
            
            color: $color-black;
            
            opacity: 0.7;
        }
    }
    .BlockFile {
        grid-area: file;
        display: grid;
        grid-auto-flow: column;
        justify-items: center;
    }
    .BlockInput {
        grid-area: input;
        display: grid;
        gap: 20px;
        
        .Btn {
            justify-self: center;
            align-self: center;

            padding: 20px 30px;
            
            color: $bg-color-white;

            border-radius: 20px;
            background-color: $color-azure;

            transition: all 0.3s ease-in-out;
        }

        .Disabled {
            opacity: 0.5;
        }
        .Active:hover {
            transform: scale(1.1);
        }

        .Error {
            color: rgb(237, 77, 77);
            font-size: 15px;
            text-align: center;
        }
    }
}

@media (max-width: 1199.98px) {
    .Container {
        
        .BlockText {
            
            .Title {
                font-size: 43px;
                line-height: 45px;
            }
        }
        .BlockInput {
            
            .Btn {
                font-size: 18px;
                padding: 15px 20px;
            }
        }
    }
}

@media (max-width: 991.98px) {
    .Container {
        grid-template-columns: 1fr;
        grid-template-areas: 'title'
                             'file'
                             'input';
        align-content: space-between;
        margin-bottom: 50px;
        .BlockText {
            .Title {
                text-align: center;
                font-size: 30px;
                line-height: 35px;
            }
            .Descr {
                font-size: 20px;
                line-height: 22px;
            }
        }
        .BlockInput {
            .Btn {
                font-size: 22px;
                padding: 18px 25px;
            }
        }
    }
}