@import '../../../styles/variables.scss';

.Container {
    display: grid;
    grid-template-areas: 'header header'
                         'menu body';
    grid-template-rows: 150px 1fr;
    grid-template-columns: auto 1fr;

    height: 100vh;
    padding: 0 50px;
}

.White {
    background: $bg;
}
.Azure {
    background: $bg-azure;
}
.Red {
    background: $bg-red;
}
.Vinous {
    background: $bg-vinous;
}
@media (max-width: 991.98px) {
    .Container {
        height: 100%;
    }
}

@media (max-width: 767.98px) {
    .Container {
        padding: 40px;
        gap: 0 20px;
    }
}

@media (max-width: 575.98px) {
    .Container {
        gap: 0;
        grid-template-columns: 1fr;
    }
}