@import '../../../styles/variables.scss';

.Container {
    display: grid;
    grid-template-areas: 'header header'
                         'menu body';
    grid-template-rows: 150px 1fr;
    grid-template-columns: auto 1fr;

    height: 100vh;
    padding: 0 50px;
}

.White {
    background: $bg;
}
.Azure {
    background: $bg-azure;
}
.Red {
    background: $bg-red;
}
.Vinous {
    background: $bg-vinous;
}