@import '../../../styles/variables.scss';

.Container {
    grid-area: body;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto 35%;
    gap: 0 30px;
    align-content: space-between;
    margin: 0px 40px 50px 40px;
}

@media (max-width: 1399.98px) {
    .Container {
        margin: 0px 20px 40px 20px;
    }
}

@media (max-width: 1199.98px) {
    .Container {
        grid-template-rows: repeat(2, auto);

    }
}

@media (max-width: 1009.98px) {
    .Container {
        align-content: flex-end;
        justify-content: center;
    }
}

@media (max-width: 767.98px) {
    .Container {
        margin: 0 auto 50px auto;
        width: 80%;
        grid-template-columns: 1fr;
    }
}