@import '../../../styles/variables.scss';

.Container {
    height: 100vh;
    background: $bg;
    display: grid;
    justify-content: center;
    align-content: center;
}

@media (max-width: 575.98px) {
    .Container {
        height: 100%;
        min-height: 100vh;
    }
}